{% extends 'home/base.html' %}

{% block title %}Subjects{% endblock %}

{% block content %}

<div class="flex justify-between items-center mb-4">
    <h2 class="text-2xl mt-3 font-bold">Class Subjects</h2>

</div>

<table class="w-full bg-white shadow rounded">
    <thead class="bg-gray-200">
        <tr>
            <th class="p-2 text-left">Class</th>
            <th class="p-2 text-left">Subjects Taught</th>
            <th class="p-2 text-left">Actions</th>
        </tr>
    </thead>

    <tbody>
        {% for classsubject in classsubjects %}
        <tr class="border-t">
            <td class="p-2">{{ classsubject.class_stream }}</td>
            <td class="p-2">{{ classsubject.subject }}</td>
            <td class="p-2 space-x-2">
                <a href="{% url 'update-class-subject' classsubject.id %}"
                   class="text-blue-600">Edit</a>

                <a href="{% url 'delete-class-subject' classsubject.id %}"
                   class="text-red-600">Delete</a>
            </td>
           
        </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}


